<div class="logo_condor"><img src="./assets/img/logo.png" alt="" /></div>
<div class="bg-faixa">
  <div class="container">
    <img src="./assets/img/24x_eletro.png" class="tag_eletro" alt="24x" />
    <h2>O seu eletro está aqui!</h2>
    <h2>Escolha a melhor opção para você.</h2>
    <div class="forms">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mt-1">
          <a
            color="primary"
            mdbWavesEffect
            [routerLink]="['/parana']"
            routerLinkActive="active"
            class="btn btn-light rounded-pill px-4 mr-3"
            ><h6 class="mb-0 text-uppercase">
              Paraná
            </h6></a
          >
          <a
            color=""
            mdbWavesEffect
            [routerLink]="['/santa-catarina']"
            routerLinkActive="active"
            class="btn btn-light rounded-pill px-3 font-weight-bolder"
            ><h6 class="mb-0  text-uppercase">
              Santa Catarina
            </h6></a
          >
        </div>
        <div class="col-md-6 col-lg-6">
          <select
            class="browser-default custom-select select mb-4"
            (change)="onSector($event)"
          >
            <option selected value="All">Todos</option>
            <option *ngFor="let item of items" [value]="item.codigo">{{
              item.nome
            }}</option>
          </select>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12">
          <input
            type="text"
            class="form-control search"
            placeholder="O que está procurando?"
            (keyup.enter)="onSearch($event)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<section id="products" class="py-5">
  <div class="container-fluid mt-5">
    <h1
      class="white-text text-center mb-5"
      style="font-weight: 700; text-shadow: 2px 2px 3px #0006;"
    >
      Ofertas válidas para hoje:
    </h1>
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let code of shops">
        <app-product2 [code]="code"></app-product2>
      </div>
    </div>
  </div>
</section>
