.logo_condor img {
  max-width: 20%;
  margin: 5% 0 0 5%;
}

.bg-faixa {
  padding: 2rem 0;
  background: #ff9700cc;
  .container {
    .tag_eletro {
      position: absolute;
      top: 50px;
      right: 5%;
      max-width: 140px;
      filter: drop-shadow(3px 10px 7px #0006);
    }
    h2 {
      font-family: Gotham, sans-serif;
      font-size: 2rem;
      color: white;
      text-align: center;
      text-shadow: 2px 2px 3px #0006;
      margin-bottom: 0;
    }
    .forms {
      margin-top: 1.5rem;
      .borders {
        border-radius: 50px;
        border: 1px solid #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
      .select {
        background-color: #0078c8;
        border-radius: 50px;
        border: 1px solid #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        color: #fff !important;
      }
      .search {
        border-radius: 50px;
        border: 1px solid #0078c8;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
    }
  }
}

@media (max-width: 768px) {
  .bg-faixa {
    .container {
      .tag_eletro {
        top: 80px;
        max-width: 100px;
      }
    }
  }
}

@media (max-width: 450px) {
  .bg-faixa {
    .container {
      .tag_eletro {
        top: 15px;
        max-width: 65px;
      }
      h2 {
        margin-top: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}

.active {
  background: #0078c8 !important;
  color: #fff !important;
}
