<div id="wrapper">
  <div id="container">
    <div class="price-card">
      <div class="img-container">
        <img
          src="https://marketing.condor.com.br/api/Containers/produtos/download/{{
            code.cod_produto
          }}.jpg"
        />
      </div>
      <div class="card-content">
        <p class="name">{{ code.dsc_produto }}</p>
        <div class="description">
          <span>{{ code.dsc_descricao }}</span>
        </div>
        <div class="valor parcelamento">
          <div class="tag">
            <img src="./assets/img/clube2.png" alt="" />
          </div>
          <div class="laranja">
            <p>
              <span>{{ code.qtd_parcela_clube }}x</span> de
            </p>
            <h2>
              {{
                code.vlr_parcela_clube | currency: "R$":"symbol":"1.2-2":"pt"
              }}
              <span>sem juros</span>
            </h2>
          </div>
          <div
            class="azul"
            *ngIf="code.qtd_parcela_clube && code.vlr_preco_clube"
          >
            <p>Ou à vista</p>
            <h2>
              {{ code.vlr_preco_clube | currency: "R$":"symbol":"1.2-2":"pt"
              }}<span class="ml-1">cada</span>
            </h2>
          </div>
        </div>
      </div>
      <span class="validade white-text px-4">
        Oferta Válida de {{ start | date: "dd/MM/yyyy" }} a
        {{ end | date: "dd/MM/yyyy" }} na região de Paraná
      </span>
    </div>
  </div>
</div>
