#wrapper * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #4b4b4b;
  letter-spacing: 1px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

#wrapper {
  width: 100%;
  height: 600px;
}

#container {
  margin: 0 auto;
  position: relative;
  padding: 20px;
}

#wrapper .price-card {
  width: 100%;
  height: 590px;
  /*    SE FOR PNG TRANSPARENTE*/
  /*    height: 400px;*/
  text-align: center;
  float: left;
  position: relative;
  border-radius: 15px;
  background: #f5f6fa;
  background: -moz-linear-gradient(45deg, #f0faff 0%, white 70%, white 100%);
  background: -webkit-linear-gradient(45deg, #f0faff 0%, white 70%, white 100%);
  background: linear-gradient(45deg, #f0faff 0%, white 70%, white 100%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  /*    cursor: url("https://www.condor.com.br/img/zoom.png"), auto;*/
  cursor: url("../../../../assets/img/zoom.png") 43 40, auto;
}

#wrapper .price-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
}

#wrapper .price-card .img-container {
  height: 25%;
  padding: 10px;
  mix-blend-mode: multiply;
}

#wrapper .price-card .img-container img {
  /*    height: 100%;*/
  /*    margin-right: -20px;*/
  /*    transform: scale(.9);*/
  /*    SE FOR PNG TRANSPARENTE*/
  height: 220px;
  // margin-top: -90px;
}

#wrapper .price-card .img-container img:last-child {
  /*    margin: 0;*/
  /*    transform: scale(1);*/
}

#wrapper .card-content {
  width: 100%;
  height: 75%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
}

#wrapper .card-content p {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 12px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
}

#wrapper .card-content .description {
  width: 100%;
}

#wrapper .card-content .description span {
  display: block;
  font-size: 0.8rem;
}

#wrapper .card-content .name:after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #3a87fa;
}

#wrapper .card-content p span {
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-transform: none;
}

#wrapper .price-card span.validade {
  font-size: 0.7rem;
  line-height: 1.5;
  width: 100%;
  left: 0;
  position: absolute;
  margin-top: 10px;
  font-weight: 700;
}

#wrapper .card-content h2 {
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 900;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#wrapper .card-content h2 span {
  font-size: 0.8rem;
}

#wrapper .card-content .laranja {
  background: #ff8924;
  width: 100%;
  padding: 30px 20px 5px 20px;
  color: white;
  border-radius: 15px 15px 0 0;
}

#wrapper .card-content .laranja:after {
  position: absolute;
  display: block;
  height: 60px;
  width: 70px;
  content: "";
  background-image: url(../../../../assets/img/cartao_condor.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  right: -10px;
  top: 450px;
}

#wrapper .card-content .laranja.clube {
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(249, 144, 25, 0.44),
    0 5px 5px rgba(251, 211, 130, 0.22);
}

#wrapper .card-content .azul {
  background: #1a91c6;
  width: 100%;
  padding: 5px 20px;
  color: white;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 10px 15px rgba(43, 132, 162, 0.44),
    0 5px 5px rgba(130, 226, 251, 0.22);
}

#wrapper .card-content .laranja *,
#wrapper .card-content .azul * {
  color: white;
  margin: 0;
}

#wrapper .card-content .laranja h2,
#wrapper .card-content .azul h2 {
  margin-top: -5px;
}

#wrapper .card-content .parcelamento {
  width: 100%;
  margin-top: 38px;
}

#wrapper .card-content .sem-parcelamento {
  width: 100%;
  /*    margin-top: 9em;*/
}

#wrapper .card-content .sem-parcelamento {
  margin-top: 135px;
}

/*
.card-content .sem-parcelamento.vantagens {
    margin-top: 0;
}
*/

#wrapper .card-content .unidades {
  background: #d2d2d2;
  text-align: center;
  color: dimgrey;
  padding: 5px;
  width: 100%;
  position: absolute;
  top: 55%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: -0.12px;
}

#wrapper .card-content .unidades span {
  color: white;
  font-weight: 900;
}

#wrapper .card-content .sem-clube {
  margin-top: 147px;
  border-radius: 15px;
  padding: 20px;
}

#wrapper .card-content .sem-clube h2 {
  margin: -5px 0;
}

#wrapper .card-content .valor p {
  font-size: 0.8rem;
}

#wrapper .card-content ul {
  width: 100%;
}

#wrapper .card-content ul li {
  font-size: 1rem;
  list-style: none;
  line-height: 2em;
  text-decoration: line-through;
  opacity: 0.6;
}

#wrapper .card-content img {
  max-width: 8rem;
  margin-bottom: -40px;
  z-index: 1;
}

#wrapper .card-content .tag {
  width: 100%;
  text-align: center;
}

#wrapper button {
  width: 100%;
  height: 56px;
  line-height: 52px;
  border: none;
  border-radius: 5px;
  background-color: rgba(248, 194, 145, 0.4);
  color: #fa983a;
  font-weight: 700;
  font-size: 1.2em;
  cursor: pointer;
}

#wrapper button:hover {
  background-color: #fa983a;
  color: #ffeddc;
}
